.footerCont{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.footerCont > p{
    color: var(--lightgrey);
}
.footerCont.dark > p{
    color: var(--whiteLet);
}
.footerCont strong{
    font-style: italic;
    color: var(--darkGreen);
}
.footerCont.dark strong{
    color: var(--green);
}

@media (min-width: 1025px) {
    .footerCont{
      width: 100%;
      margin-left: 150px;
      align-self: center;
      align-items: center;
    }
    .footerCont div{
        display: none;
    }
}